:root {
    --color-dark:  rgb(34, 20, 3);
    --color-orange: rgb(220, 87, 45);
    --color-pink: rgb(175, 55, 79);
    --color-gold: rgb(93, 50, 16);
    --color-white-500: rgb(255, 255, 255);
    --color-white-200: rgba(255, 255, 255, 0.5);
    --color-black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--color-dark);
    color: var(--color-white-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 3rem 0;
    gap: 3rem;
}

.header__title-wrapper {
    text-align: center;
}

.header__tagline {
    color: var(--color-white-200);
    font-size: .6rem;
    text-transform: uppercase;
}

.header__tagline--highlight {
    color: var(--color-white-500);
}

.nav__link-list {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
.nav__link-item {
    padding: .5rem 1rem;
    transition: .3s ease;
}

.nav__link-item:hover {
    background-color: var(--color-pink);
}

.nav__link {
    color: var(--color-white-500);
    font-size: .75rem;
    text-decoration: none;
    text-transform: uppercase;
}

.intro-section {
    text-align: center;
    padding: 5rem;
    background-color: var(--color-orange);
}

.intro-section__title {
    margin-bottom: 2.5rem;
}

.intro-section__intro{
    font-size: .72rem;
    line-height: 2;
}

.intro-section__link {
    color: var(--color-black);
    font-weight: 600;
}

.services {
    padding: 5rem;
}

.services__list {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 280px;
    text-align: center;
    align-items: center;
}

.service__icon {
    color: var(--color-gold);
    font-size: 3rem;
}

.service__title {
    font-size: 1rem;
    text-transform: uppercase;
}

.service__text {
    font-size: .75rem;
    line-height: 1.8;
}

.service__btn {
    background-color: var(--color-pink);
    color: var(--color-white-500);
    text-decoration: none;
    padding: .75rem 1.5rem;
    margin-top: auto;
    transition: .3s ease-in-out;
}

.service__btn:hover{
    filter: brightness(1.2) ;
    transform: scale(1.1);
}

.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem 5rem 5rem;
}

.topics__subtitle {
    font-size: .7rem;
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 2rem;
}

.topics__list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.topic {
    max-width: 280px;
    text-align: center;
}

.topic__title {
    font-size: .5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .6rem ;
}

.topic__text {
    opacity: .5;
    margin-bottom: 2rem;
    font-size: .6rem;
}

.btn-wrapper{
    background-color: var(--color-pink);
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    cursor: pointer;
}

.btn-wrapper:hover{
    filter: brightness(1.2) ;
    transform: scale(1.1);
}

.topic__btn {
    color: var(--color-white-500);
    font-size: .6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.footer{
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white-200);
    padding: 6rem;
    gap: 3rem;
}

.footer__description{
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: 2px;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.footer__social-link{
    color: var(--color-white-500);
}

.footer__copyright{
    font-size: .4rem;
    text-transform: uppercase;
    word-spacing: .2rem;
}

.footer__highlight{
    color: var(--color-white-500);
}