:root {
  --color-blue-900: #062333;
  --color-blue-700: #0077a8;
  --color-blue-500: #00b4d8;
  --color-blue-200: #d6efff;
  --color-blue-100: #e1f5fe;

  --color-gray-900: #333333;
  --color-gray-500: #666666;

  --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    height: 100vh;
    background-color: var(--color-blue-900);
}

.site-wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
}

.header__logo {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header__logo--highlight {
    color: var(--color-blue-500);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    gap: 2rem;
}

.header__nav {
    flex: 1;
}

.header__nav-list {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.header__nav-link {
    color: var(--color-white);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__nav-link--active {
    color: var(--color-blue-700);
}

.header__nav-list:hover .header__nav-link {
    color: var(--color-white);
}

.header__nav-list .header__nav-link:hover {
    color: var(--color-blue-500);
}

.main {
    background-color: var(--color-white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-section {
    background: url('assets/images/surf.png') center / cover no-repeat;
    width: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 5rem 4rem;
    height: 400px;
}

.hero__title {
    font-size: 3.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.hero__lead {
    font-size: .75rem;
    font-weight: 600;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: var(--color-blue-700);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1;
}

.card__title {
    text-transform: uppercase;
}

.card__text {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.card__cta {
    color: var(--color-white);
    background-image: linear-gradient(to bottom, var(--color-blue-500), var(--color-blue-700));
    text-decoration: none;
    padding: .5rem;
    margin-top: auto;
    align-self: flex-start;
    border-radius: 4px;
}

.details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.details__title {
    color: var(--color-blue-900);
    font-weight: 500;
    text-transform: uppercase;
}

.details__image {
    width: 100%;
}

.details__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.details__text {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.details__cta {
    color: var(--color-blue-700);
    font-weight: 600;
    margin-top: auto;
    text-decoration: none;
    transition: .1s linear;
}

.details__cta:hover {
    color: var(--color-blue-500);
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonial__title {
    font-weight: 500;
    text-transform: uppercase;
}

.testimonial__quote {
    background-color: var(--color-blue-200);
    padding: 1.7rem 1.5rem 2.5rem 1.5rem;
    position: relative;
}

.testimonial__quote::after {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--color-blue-200);
    position: absolute;
    top: calc(100% + 2px);

}

.testimonial__text {
    color: var(--color-blue-900);
    font-weight: 600;
    font-style: italic;
}

.testimonial__author {
    color: var(--color-blue-900);
    font-size: .75rem;
    font-style: normal;
}

.footer {
    background-color: var(--color-blue-200);
    padding: 1rem;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer__nav-link {
    color: var(--color-blue-700);
    font-size: .75rem;
    font-weight: 600;
    text-decoration: none;
    transition: .1s linear;
}

.footer__nav-link--active {
    color: var(--color-blue-900);
}

.footer__nav-list:hover .footer__nav-link {
    color: var(--color-blue-700);
}

.footer__nav-list .footer__nav-link:hover {
    color: var(--color-blue-900);
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-copyright__text {
    font-size: .75rem;
    font-weight: bold;
    color: var(--color-white);

}

.footer-copyright__link {
    color: var(--color-white);
}

.footer-copyright__social {
    display: flex;
    gap: 1rem;
}

.footer-copyright__social-link {
    color: var(--color-white);
    text-decoration: none;
}